body{
    margin-top: 0;
}
.landingPage{
    z-index: 2;
    width: 100vw;
    height: 100vh;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: 100vw 40vh;
    filter: brightness(1.1);
    background-image: url('https://i2.pickpik.com/photos/145/321/225/parrot-red-bird-colorful-thumb.jpg');

}

.empty{
    width: 100%;
    height: 100vh;
    color: white;
    position: absolute;
    background-image: linear-gradient(to top, rgba(0,0,0,1) 60%, rgba(0,0,0,.7) 68%, rgba(0,0,0,.4) 70%, rgba(1,0,0,0) 82%)
}
.tagline{
    color: rgba(217, 217, 217, .9);
    margin-left: 20px;
    font-size: 180%;
}

.landingContent{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 45%;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.login{
    margin-bottom: 20px;
    background-color: rgba(216, 36, 36, 1);
    color: rgba(217, 217, 217, 1);
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    width: 90%;
    height: 40px;
    padding-top: 5px;
}
.createAccount{
    color: rgba(216, 36, 36, 1);
}
