.eventShow{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}
.eventContainer{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 80px;
    padding: 10px;
    color: rgba(217, 217, 217, 1);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(33, 33, 30, 1);
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.timeShow, .locationShow{
    font-size: 14px;
    font-style: oblique;
}
.buttonsShow{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 10px;
    display: flex;
}
.createDelete{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
}
.deleteEvent, .updateEvent{
    background-color: rgba(208, 178, 18, 1);
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(128, 128, 128, 0.443) inset;
    border: solid 0.1px rgba(170, 170, 170, 0.545);
    height: 38px;
    border-radius: 50px;
    background-image: linear-gradient(180deg,rgb(193, 193, 90),rgb(104, 104, 23));
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
    font-size: 25px;
}
.updateEvent{
  
}
.deleteEvent{
    width: 60%;
    border: 1px solid red;
    margin-top: 20px;
}
.createEvent{
    position: absolute;
    top: 100px;
    right: 10px;
    width: 40px;
    height: 40px;
    color: rgba(216, 36, 36, 1);
    background-color: rgba(10, 10, 9, 1);
    border: solid 0.1px rgba(216, 36, 36, 1); 
    border-radius: 30px;
    font-size: 30px;
    cursor: pointer;
}
.backArrow{
    position: absolute;
    top: 100px;
    background-color: rgba(216, 36, 36, 1);
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(128, 128, 128, 0.443) inset;
    border: solid 0.1px rgba(170, 170, 170, 0.545);
    height: 38px;
    border-radius: 50px;
    width: 70px;
    font-size: 25px;
    -webkit-transform: rotate(180deg); 
}
