body{
  margin: 0;
  background-color: rgba(10, 10, 9, 1);
  text-decoration: none;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.App, .loading{
  background-color: rgba(10, 10, 9, 1);
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}



